{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-react-jsx"
  ],
  "presets": [["@babel/preset-env", {
     useBuiltIns: "usage"
  }]],
  "env": {
    "test": {
      "plugins": ["require-context-hook"]
    }
  },
  "ignore": ["**/*.test.js"]
}
